<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.foodmash.app" >

    <permission android:name="in.foodmash.app.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="in.foodmash.app.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:supportsRtl="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:name=".Calligraphy"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="in.foodmash.app.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddAddressActivity" android:launchMode="singleTask" android:parentActivityName=".PinYourLocationActivity"/>
        <activity android:name=".AddressActivity" android:launchMode="singleTask" android:parentActivityName=".MainActivity" />
        <activity android:name=".CartActivity" android:launchMode="singleTask" android:parentActivityName=".MainActivity" />
        <activity android:name=".ChangePasswordActivity" android:launchMode="singleTask" android:parentActivityName=".MainActivity" />
        <activity android:name=".CheckoutAddressActivity" android:launchMode="singleTask" android:parentActivityName=".CartActivity" />
        <activity android:name=".CheckoutPaymentActivity" android:launchMode="singleTask" android:parentActivityName=".CheckoutAddressActivity" />
        <activity android:name=".ComboDescriptionActivity" android:launchMode="singleTask" android:parentActivityName=".MainActivity" />
        <activity android:name=".ContactUsActivity" android:launchMode="singleTask" android:parentActivityName=".MainActivity" />
        <activity android:name=".ForgotPasswordActivity" android:launchMode="singleTask" android:parentActivityName=".LoginActivity" />
        <activity android:name=".OtpActivity" />
        <activity android:name=".LoginActivity" android:launchMode="singleTask" />
        <activity android:name=".MainActivity" android:launchMode="singleTask" />
        <activity android:name=".ErrorReportActivity" android:launchMode="singleTask" />
        <activity android:name=".LegaleseActivity" android:launchMode="singleTask" android:parentActivityName=".SignUpActivity" />
        <activity android:name=".OrderDescriptionActivity" android:launchMode="singleTask" android:parentActivityName=".OrderHistoryActivity" />
        <activity android:name=".OrderHistoryActivity" android:launchMode="singleTask" android:parentActivityName=".MainActivity" />
        <activity android:name=".payment.PaymentsActivity" android:launchMode="singleTask" android:parentActivityName=".CheckoutPaymentActivity" />
        <activity android:name=".PinYourLocationActivity" android:launchMode="singleTask" />
        <activity android:name=".ProfileActivity" android:launchMode="singleTask" android:parentActivityName=".MainActivity" />
        <activity android:name=".SignUpActivity" android:launchMode="singleTask" android:parentActivityName=".LoginActivity" />
        <activity android:name=".ShowMessageActivity" android:launchMode="singleTask"/>
        <activity android:name=".UpdateAppActivity" android:launchMode="singleTask" />

        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAYI1ddDqZ1-JTwvH3G_MwDFIpVuplDuKQ" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

    </application>

</manifest>
