<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.foodmash.app" >

    <permission android:name="in.foodmash.app.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="in.foodmash.app.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:name=".Calligraphy"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="in.foodmash.app.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddAddressActivity" />
        <activity android:name=".AddressActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".CartActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".ChangePasswordActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".CheckoutAddressActivity" android:parentActivityName=".CartActivity" />
        <activity android:name=".CheckoutPaymentActivity" android:parentActivityName=".CheckoutAddressActivity" />
        <activity android:name=".ComboDescriptionActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".ContactUsActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".ForgotPasswordActivity" android:parentActivityName=".LoginActivity" />
        <activity android:name=".ForgotPasswordOtpActivity" android:parentActivityName=".LoginActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LegaleseActivity" android:parentActivityName=".SignupActivity" />
        <activity android:name=".OrderDescriptionActivity" android:parentActivityName=".OrderHistoryActivity" />
        <activity android:name=".OrderHistoryActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".payment.PaymentsActivity" android:parentActivityName=".CheckoutPaymentActivity" />
        <activity android:name=".PinYourLocationActivity" android:parentActivityName=".AddressActivity" />
        <activity android:name=".ProfileActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".SignupActivity" android:parentActivityName=".LoginActivity"/>

        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAYI1ddDqZ1-JTwvH3G_MwDFIpVuplDuKQ" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

    </application>

</manifest>
